body {
    font-family: Microsoft JhengHei;
}
#banner {
    background-image: url(../images/server-0605.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.title {
    color: #121218ec;
    font-weight: bold;
}